<div class="col-xs-12" style="text-align:center">
    <h1>Sign Up Form</h1>
</div>
<form [formGroup]="uplatnicaForm" (ngSubmit)="generisiUplatnicu()">
    <div class="form-row" formGroupName="uplatilac">
        <h3>Uplatilac</h3>
        <div class="form-group col-xs-4">
            <label>Ime</label>
            <input formControlName="ime" type="text" class="form-control" name="ime" placeholder="Petar" [ngClass]="{'is-invalid':uplatnicaForm.controls.uplatilac.controls.ime.invalid && submitTried}">
            <div *ngIf="uplatnicaForm.controls.uplatilac.controls.ime.invalid && submitTried" class="invalid-feedback">Ime nije uneto!</div>
        </div>
        <div class="form-group col-xs-4">
            <label>Prezime</label>
            <input formControlName="prezime" type="text" class="form-control" name="prezime" placeholder="Petrovic" [ngClass]="{'is-invalid':uplatnicaForm.controls.uplatilac.controls.prezime.invalid && submitTried}">
            <div *ngIf="uplatnicaForm.controls.uplatilac.controls.prezime.invalid && submitTried" class="invalid-feedback">Prezime nije uneto!</div>
        </div>
        <div class="form-group col-xs-4">
            <label>Ulica</label>
            <input formControlName="ulica" type="text" class="form-control" name="ulica" placeholder="Bl. Oslobodenja" [ngClass]="{'is-invalid':uplatnicaForm.controls.uplatilac.controls.ulica.invalid && submitTried}">
            <div *ngIf="uplatnicaForm.controls.uplatilac.controls.ulica.invalid && submitTried" class="invalid-feedback">Ulica nije uneta!</div>
        </div>
        <div class="form-group col-xs-2">
            <label>Broj</label>
            <input formControlName="broj" type="text" class="form-control" ime="broj" placeholder="92/b" [ngClass]="{'is-invalid':uplatnicaForm.controls.uplatilac.controls.broj.invalid && submitTried}">
            <div *ngIf="uplatnicaForm.controls.uplatilac.controls.broj.invalid && submitTried" class="invalid-feedback">Broj nije unesen!</div>
        </div>
        <div class="form-group col-xs-4">
            <label>Poštanski broj</label>
            <input formControlName="postanskiBroj" type="number" name="postanskiBroj" class="form-control" [ngClass]="{'is-invalid':uplatnicaForm.controls.uplatilac.controls.postanskiBroj.invalid && submitTried}">
            <div *ngIf="uplatnicaForm.controls.uplatilac.controls.postanskiBroj.invalid && submitTried" class="invalid-feedback">Postanski broj nije unet!</div>
        </div>
        <div class="form-group col-xs-6">
            <label>Grad</label>
            <input formControlName="grad" type="text" class="form-control" name="grad" placeholder="Novi Sad" [ngClass]="{'is-invalid':uplatnicaForm.controls.uplatilac.controls.grad.invalid && submitTried}">
            <div *ngIf="uplatnicaForm.controls.uplatilac.controls.grad.invalid && submitTried" class="invalid-feedback">Grad nije unet!</div>
        </div>
    </div>
    <div class="form-row">

        <div class="form-group col-xs-6">
            <label>Svrha uplate</label>
            <input type="text" [ngClass]="{'is-invalid':uplatnicaForm.controls.svrhaUplate.invalid && submitTried}" class="form-control"
                name="svrhaUplate" formControlName="svrhaUplate">
            <div *ngIf="uplatnicaForm.controls.svrhaUplate.invalid && submitTried" class="invalid-feedback">Svrha uplate nije uneta!</div>
        </div>
        <div class="form-group col-xs-6">
            <label>Primalac</label>
            <textarea type="text" class="form-control" name="primalac" formControlName="primalac" [ngClass]="{'is-invalid':uplatnicaForm.controls.primalac.invalid && submitTried}"></textarea>
            <div *ngIf="uplatnicaForm.controls.primalac.invalid && submitTried" class="invalid-feedback">Primalac nije unet!</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-xs-6">
            <label>Sifra placanja</label>
            <input type="text" [ngClass]="{'is-invalid':uplatnicaForm.controls.sifraPlacanja.invalid && submitTried}" class="form-control"
                name="sifraPlacanja" formControlName="sifraPlacanja">
            <div *ngIf="uplatnicaForm.controls.sifraPlacanja.invalid && submitTried" class="invalid-feedback">Sifra placanja nije uneta!</div>
        </div>
        <div class="form-group col-xs-6">
            <label>Valuta</label>
            <select formControlName="valuta" class="form-control" [ngClass]="{'is-invalid':uplatnicaForm.controls.valuta.invalid && submitTried}">
                <option value="">Choose...</option>
                <option [value]="va.symbol" *ngFor="let va of currenciesModel.currencies">{{va.fullName}}</option>
            </select>
            <div *ngIf="uplatnicaForm.controls.valuta.invalid && submitTried" class="invalid-feedback">Valuta nije selektovana!</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-xs-6">
            <label>Iznos</label>
            <input type="text" [ngClass]="{'is-invalid':uplatnicaForm.controls.iznos.invalid && submitTried}" class="form-control" name="iznos"
                formControlName="iznos">
            <div *ngIf="uplatnicaForm.controls.iznos.invalid && submitTried" class="invalid-feedback">Iznos nije uneto!</div>
        </div>
        <div class="form-group col-xs-6">
            <label>Racun primaoca</label>
            <input type="text" class="form-control" name="racunPrimaoca" formControlName="racunPrimaoca" [ngClass]="{'is-invalid':uplatnicaForm.controls.racunPrimaoca.invalid && submitTried}">
            <div *ngIf="uplatnicaForm.controls.racunPrimaoca.invalid && submitTried" class="invalid-feedback">Racun primaoca nije unet!</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-xs-6">
            <label>Model</label>
            <input type="text" [ngClass]="{'is-invalid':uplatnicaForm.controls.model.invalid && submitTried}" class="form-control" name="model" 
                formControlName="model">
            <div *ngIf="uplatnicaForm.controls.model.invalid && submitTried" class="invalid-feedback">Model nije unet!</div>
        </div>
        <div class="form-group col-xs-6">
            <label>Poziv na broj</label>
            <input type="text" class="form-control" name="pozivNaBroj" formControlName="pozivNaBroj" [ngClass]="{'is-invalid':uplatnicaForm.controls.pozivNaBroj.invalid && submitTried}">
            <div *ngIf="uplatnicaForm.controls.pozivNaBroj.invalid && submitTried" class="invalid-feedback">Poziv na broj nije unet!</div>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-xs-6">
            <label>Podpis</label>
            <input type="checkbox" class="form-control" name="podpisUplatioca" formControlName="podpisUplatioca" [ngClass]="{'is-invalid':uplatnicaForm.controls.podpisUplatioca.invalid && submitTried}">
            <div *ngIf="uplatnicaForm.controls.podpisUplatioca.invalid && submitTried" class="invalid-feedback">Podpis je obavezan!</div>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" style="float:right">Generisi uplatnicu</button>
</form>

<img *ngIf="showGenerated" width="100%" height="auto" [src]="('http://uplatnica.rs/uplatnica_t.php?uplatilac='+generatedValues.ja+'&svrha='+generatedValues.svrhaUplate+'&primalac='+generatedValues.primalac+'&sifra='+generatedValues.sifraPlacanja+'&valuta='+valuta+'&iznos='+generatedValues.iznos+'&iznos_dec=00&racun='+generatedValues.racunPrimaoca+'&model='+generatedValues.model+'&poziv='+generatedValues.pozivNaBroj)"/>